{% extends '::baseAdmin.html.twig' %}

    {% block title %}Réponse personnalisée{% endblock %}

	{% block body %}
		
        {% for trip in app.session.flashBag.get('Trip') %}
            <div id="flash">
                {{ trip }}
            </div>
        {% endfor %}

        {% for message in app.session.flashBag.get('treated') %}
            <div id="flash">{{ message }}</div>
        {% endfor %}

        {% for messag in app.session.flashBag.get('tripChoice1') %}
            <div id="flash">{{ messag }}</div>
        {% endfor %}

        
            <div class="col-lg-12">
                <h2>Voyage sur mesure : {{ user.name|upper ~ ' ' ~ user.firstname|capitalize }}</h2>                
                <div class="panel panel-success">
                    <div class="panel-heading">
                    {% if origin == 1 %}
                        <h3 class="panel-title">Créer un voyage sur-mesure</h3>
                    {% else %}
                        <h3 class="panel-title">Proposer un autre voyage</h3>
                    {% endif %}
                    </div>
                    <div class="panel-body" id="modalHead" style="text-align:center;">
                       <a href="#" data-toggle="modal"   data-target="#basicModal"><button class="btn btn-warning">Créer un voyage sur-mesure</button></a>
                       <a href="#" data-toggle="modal"   data-target="#basicModal2"><button class="btn btn-success">Choisir un voyage existant</button></a>
                    </div>
                </div>

                <div class="modal fade" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel">Inde sur mesure</h4>
                            </div>
                            <div class="modal-body">                                                                  
                                {{ form_start(formTrip) }}
                                {{ form_row(formTrip.trip) }}                                                              
                                {{ form_row(formTrip.globalPrice) }}
                                <div class="col-md-6" style="margin-top:15px;">{{ form_row(formTrip.dateBegining) }}</div>
                                <div class="col-md-6" style="margin-top:15px;">{{ form_row(formTrip.dateEnding) }}</div>                         
                            </div>
                            <div class="modal-footer"> 
                                <div class="col-md-12 text-center" style="margin-top:15px;">                                   
                                    {{ form_end(formTrip)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel">Inde sur mesure</h4>
                            </div>
                            <div class="modal-body">
                                <h3></h3>                                    
                                {{ form_start(form) }}
                                {{ form_row(form.title) }}
                                {{ form_row(form.period) }}
                                {{ form_row(form.place) }}
                                {{ form_row(form.dateBegining) }}
                                {{ form_row(form.dateEnding) }}
                                {{ form_row(form.description) }}
                                {{ form_row(form.comment1) }}
                                {{ form_row(form.comment2) }}
                                {{ form_row(form.numberDays) }}                                                                                            
                                {{ form_row(form.globalPrice) }}
                                {{ form_row(form.thematic) }}
                                {{ form_row(form.brochure) }}
                                    <ul>
                                        {% for ima in form.image %}
                                            <li>{{ form_row(ima.filename) }}</li>
                                            <li>{{ form_row(ima.filename1) }}</li>
                                            <li>{{ form_row(ima.filename2) }}</li>
                                        {% endfor %}
                                    </ul>                                                                          
                            </div>
                            <div class="modal-footer" id="basicModal"> 
                                <div class="col-md-12">
                                    <div class="col-md-4" style="text-align:center;">{{ form_row(form.Valider) }}</div>
                                    <div class="col-md-8" style="text-align:left;">{{ form_end(form)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                                          

         <hr/>
                
            <h2>Demande d'origine :</h2>          
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Nom & Prénom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Nbr Jours</th>
                                <th>Nbr Adultes</th>
                                <th>Nbr Enfants</th>
                                <th>Date de départ souhaitée</th>
                                <th>Date de réception</th>                              
                                <th>Date de réponse</th>                              
                                <th>Envies</th>                                                                                               
                                <th>Action</th>                                                                                               
                            </tr>
                        </thead>
                        <tbody>                                                    
                            <tr>
                                <td>{{ estimate.id }}</td>
                                <td>{{ estimate.user.name|upper ~ ' ' ~ estimate.user.firstname|capitalize }}</td>
                                <td>{{ estimate.user.email }}</td>
                                <td>{{ estimate.user.adress|capitalize ~ ' ' ~ estimate.user.city|capitalize ~ ' ' ~ estimate.user.postcode }}</td>
                                <td>{{ estimate.nbrDays }}</td>
                                <td>{{ estimate.nbrAdults }}</td>
                                <td>{{ estimate.nbrChildren }}</td>
                                <td>{{ estimate.dateDeparture|date('d-m-Y') }}</td>
                                <td>{{ estimate.dateSended|date('d-m-Y H:i') }}</td>
                                <td>
                                    {% if estimate.dateAnswerSended is not null %}
                                        {{ estimate.dateAnswerSended|date('d-m-Y H:i') }}
                                    {% endif %}
                                </td>                                
                                <td>{{ estimate.comment|capitalize }}</td>                                                     
                                <td>
                                    {% if estimate.trip is not null and estimate.trip is not empty %}
                                        <a href="{{ path('back_office_estimate_listResponses',{id:estimate.id}) }}"><button class="btn btn-success" style="margin-bottom:10px;">Voir la liste des réponses</button></a>                                    
                                    {% endif %}
                                    <a href="{{ path('back_office_estimate_cancel',{id:estimate.id}) }}"><button class="btn btn-warning" style="margin-bottom:10px;">Annuler la demande</button></a>
                                    <a href="{{ path('back_office_estimate_remove',{id:estimate.id}) }}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette demande ? Elle sera définitivement perdue !"><button class="btn btn-danger"  style="margin-bottom:10px;">Supprimer la demande</button></a>
                                </td>                                                     
                            </tr>                                                       
                        </tbody>
                    </table>
                </div>                  
        </div>
       
	{% endblock %}


  